@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}
ul,
p,
li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
body {
  background-color: $body-background-color;
  color: $title-light-color;
  font-family: $primary-font;
  font-style: normal;
  transition: color $transition, background-color $transition;
}
input {
  outline: none;
}
button {
  padding: 0;
  border: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
}
.backdrop ::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #fd5103;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}