.dark-mode{
    $body-background-color: #202025;
    
    $theme-dark-color: #fd5103;
    $search-input-color: #202025;
    $hero-bg-input-color: #202025;
    $select-input-color: #202025;
    $gallery-btn-fav-color: #202025;
    $modal-bg-color: #202025;
    $modal-text-color: #bdbdbd;
    $background-color: #fff3;
    $mob-menu-bg-color: #202025;
    $heart-color: #202025;
}

$title-light-color: #fcfcfc;

$accent-theme-color: #fcfcfc;

$manu-theme-color: #fcfcfc;

$input-text-color: #fcfcfc;

$btn-mob-menu-color: #fcfcfc;

$fav-dropdown-item: #fcfcfc;

$hero-text-color: #fcfcfc;

$gallery-title-color: #fcfcfc;

$gallery-subtitle-color: #fcfcfc;

$modal-title-color: #fcfcfc;

$modal-accent-text-color: #fcfcfc;

$modal-close-icon-color: #fcfcfc;

$menu-mob-color: #fcfcfc;
