$primary-font: 'Poppins', sans-serif;
$white-color: #ffffff;
$body-background-color: #fcfcfc;
$black-color: #000000;
$medium-grey-color: #5f6775;
$modal-title--black: #000917;

$dark-bg-color: #202025;
$title-light-color: #202025;
$btn-bg-color: #fe7031;
$accent-color: #fd5103;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$pagination-btn-bg-color: #fdfdfd;

:root {
  --header-link: #202025;
  --change-btn-light: #fd5103;
  --change-btn-dark: #5f6775;
  --change-title: #202025;
  --modal-text:#5F6775;
  --modal-background:#ffffff;
  --background:#fcfcfc;

}
