<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Cocktails</h2>
    <ul class="gallery__list"></ul>
    <div class="pagination">
      <button class="arrow left" type="button"><</button>
      <div class="numbers-container">
        <button class="numbers" type="button">1</button>
        <button class="numbers" type="button">2</button>
        <button class="numbers" type="button">3</button>
        <button class="numbers" type="button">...</button>
        <button class="numbers" type="button">10</button>
        <button class="numbers" type="button">11</button>
        <button class="numbers" type="button">12</button>
      </div>
      <button class="arrow right" type="button">></button>
    </div>
  </div>
</section>
