<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Cocktails</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <div class="coctails__card">
          <div class="img_wrapper">
            <img src="./images/Amaretto Sunrise.png" alt="" />
          </div>
          <div class="coctails__info">
            <h3 class="coctails__title">Margarita</h3>
            <div class="coctails__btn">
              <button class="primary-load-more" data-type="open-learn-more" type="button">Learn more</button>
              <button class="secondary-add-favorites" type="button">
                Add to
                <svg class="empty__heart" width="21" height="19">
                  <use href="./images/icons.svg#icon-empty-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="gallery__item">
        <div class="coctails__card">
          <div class="img_wrapper">
            <img src="./images/Amaretto Sunrise.png" alt="" />
          </div>
          <div class="coctails__info">
            <h3 class="coctails__title">Margarita</h3>
            <div class="coctails__btn">
              <button class="primary-load-more" data-type="open-learn-more" type="button">Learn more</button>
              <button class="secondary-add-favorites" type="button">
                Add to
                <svg class="empty__heart" width="21" height="19">
                  <use href="./images/icons.svg#icon-empty-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="gallery__item">
        <div class="coctails__card">
          <div class="img_wrapper">
            <img src="./images/Amaretto Sunrise.png" alt="" />
          </div>
          <div class="coctails__info">
            <h3 class="coctails__title">Margarita</h3>
            <div class="coctails__btn">
              <button class="primary-load-more" data-type="open-learn-more" type="button">Learn more</button>
              <button class="secondary-add-favorites" type="button">
                Add to
                <svg class="empty__heart" width="21" height="19">
                  <use href="./images/icons.svg#icon-empty-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="gallery__item">
        <div class="coctails__card">
          <div class="img_wrapper">
            <img src="./images/Amaretto Sunrise.png" alt="" />
          </div>
          <div class="coctails__info">
            <h3 class="coctails__title">Margarita</h3>
            <div class="coctails__btn">
              <button class="primary-load-more" data-type="open-learn-more" type="button">Learn more</button>
              <button class="secondary-add-favorites" type="button">
                Add to
                <svg class="empty__heart" width="21" height="19">
                  <use href="./images/icons.svg#icon-empty-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="gallery__item">
        <div class="coctails__card">
          <div class="img_wrapper">
            <img src="./images/Amaretto Sunrise.png" alt="" />
          </div>
          <div class="coctails__info">
            <h3 class="coctails__title">Margarita</h3>
            <div class="coctails__btn">
              <button class="primary-load-more" data-type="open-learn-more" type="button">Learn more</button>
              <button class="secondary-add-favorites" type="button">
                Add to
                <svg class="empty__heart" width="21" height="19">
                  <use href="./images/icons.svg#icon-empty-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="gallery__item">
        <div class="coctails__card">
          <div class="img_wrapper">
            <img src="./images/Amaretto Sunrise.png" alt="" />
          </div>
          <div class="coctails__info">
            <h3 class="coctails__title">Margarita</h3>
            <div class="coctails__btn">
              <button class="primary-load-more" data-type="open-learn-more" type="button">Learn more</button>
              <button class="secondary-add-favorites" type="button">
                Add to
                <svg class="empty__heart" width="21" height="19">
                  <use href="./images/icons.svg#icon-empty-heart"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
