<section class="hero-section">
  <div class="container hero-container">
      <div class="hero-container-title">
          <h1 class="hero-title">A party without cocktails is not like a party</h1>
          <p class="hero-title-description">Search your favorite cocktail by ABC</p>
          <div class="hero-alphabet-search">
              <ul class="alphabet-list">
                  <li class="alphabet-list-item">A</li>
                  <li class="alphabet-list-item">B</li>
                  <li class="alphabet-list-item">C</li>
                  <li class="alphabet-list-item">D</li>
                  <li class="alphabet-list-item">E</li>
                  <li class="alphabet-list-item">F</li>
                  <li class="alphabet-list-item">G</li>
                  <li class="alphabet-list-item">H</li>
                  <li class="alphabet-list-item">I</li>
                  <li class="alphabet-list-item">J</li>
                  <li class="alphabet-list-item">K</li>
                  <li class="alphabet-list-item">L</li>
                  <li class="alphabet-list-item">M</li>
                  <li class="alphabet-list-item">N</li>
                  <li class="alphabet-list-item">O</li>
                  <li class="alphabet-list-item">P</li>
                  <li class="alphabet-list-item">Q</li>
                  <li class="alphabet-list-item">R</li>
                  <li class="alphabet-list-item">S</li>
                  <li class="alphabet-list-item">T</li>
                  <li class="alphabet-list-item">U</li>
                  <li class="alphabet-list-item">V</li>
                  <li class="alphabet-list-item">W</li>
                  <li class="alphabet-list-item">X</li>
                  <li class="alphabet-list-item">Y</li>
                  <li class="alphabet-list-item">Z</li>
                  <li class="alphabet-list-item">1</li>
                  <li class="alphabet-list-item">2</li>
                  <li class="alphabet-list-item">3</li>
                  <li class="alphabet-list-item">4</li>
                  <li class="alphabet-list-item">5</li>
                  <li class="alphabet-list-item">6</li>
                  <li class="alphabet-list-item">7</li>
                  <li class="alphabet-list-item">8</li>
                  <li class="alphabet-list-item">9</li>
                  <li class="alphabet-list-item">0</li>
                  <li class="alphabet-list-item"></li>
              </ul>
          </div>
      </div>
      <div class="hero-container-pictures">
          <picture>
              <source
                srcset="
                ./images/grap-desk(1x).png 1x,
                ./images/grap-desk(2x).png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                ./images/grap-tabl(1x).png 1x,
                ./images/grap-tabl(2x).png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/grap-tel(1x).png 1x,
                ./images/grap-tel(2x).png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="hero-pictures"
                src="./images/grap-desk(1x).png"
                alt="cocktail"
                width="501"
              />
          </picture>
          <p class="hero-title-description-mobile">Search your favorite cocktail by ABC</p>
          <div class="search-alphabet">
              <div class="search-alphabet-input">
                  <span class="input-letter">A</span>
                  <svg width="24" height="24" class="input-icon">
                      <use href="./images/icons.svg#icon-chevron-down"></use>
                  </svg>
              </div>
                <div class="hero-modal-search">
                  <ul class="mob-alphabet-list">
                    <li class="mob-alphabet-list-item">A</li>
                    <li class="mob-alphabet-list-item">B</li>
                    <li class="mob-alphabet-list-item">C</li>
                    <li class="mob-alphabet-list-item">D</li>
                    <li class="mob-alphabet-list-item">E</li>
                    <li class="mob-alphabet-list-item">F</li>
                    <li class="mob-alphabet-list-item">G</li>
                    <li class="mob-alphabet-list-item">H</li>
                    <li class="mob-alphabet-list-item">I</li>
                    <li class="mob-alphabet-list-item">J</li>
                    <li class="mob-alphabet-list-item">K</li>
                    <li class="mob-alphabet-list-item">L</li>
                    <li class="mob-alphabet-list-item">M</li>
                    <li class="mob-alphabet-list-item">N</li>
                    <li class="mob-alphabet-list-item">O</li>
                    <li class="mob-alphabet-list-item">P</li>
                    <li class="mob-alphabet-list-item">Q</li>
                    <li class="mob-alphabet-list-item">R</li>
                    <li class="mob-alphabet-list-item">S</li>
                    <li class="mob-alphabet-list-item">T</li>
                    <li class="mob-alphabet-list-item">U</li>
                    <li class="mob-alphabet-list-item">V</li>
                    <li class="mob-alphabet-list-item">W</li>
                    <li class="mob-alphabet-list-item">X</li>
                    <li class="mob-alphabet-list-item">Y</li>
                    <li class="mob-alphabet-list-item">Z</li>
                    <li class="mob-alphabet-list-item">1</li>
                    <li class="mob-alphabet-list-item">2</li>
                    <li class="mob-alphabet-list-item">3</li>
                    <li class="mob-alphabet-list-item">4</li>
                    <li class="mob-alphabet-list-item">5</li>
                    <li class="mob-alphabet-list-item">6</li>
                    <li class="mob-alphabet-list-item">7</li>
                    <li class="mob-alphabet-list-item">8</li>
                    <li class="mob-alphabet-list-item">9</li>
                    <li class="mob-alphabet-list-item">0</li>
                  </ul>
                </div>
          </div>
      </div>
  </div>
</section>