<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-container-title">
            <h1 class="hero-title">A party without cocktails is not like a party</h1>
            <p class="hero-title-description">Search your favorite cocktail by ABC</p>
            <div class="hero-alphabet-search">
                <ul class="alphabet-list">
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">A</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">B</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">C</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">D</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">E</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">F</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">G</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">H</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">I</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">J</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">K</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">L</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">M</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">N</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">O</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">P</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">Q</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">R</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">S</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">T</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">U</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">V</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">W</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">X</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">Y</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">Z</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">1</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">2</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">3</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">4</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">5</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">6</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">7</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">8</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">9</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item">0</a></li>
                    <li class="alphabet-list-item"><a href="#" class="alphabet-item"></a></li>
                </ul>
            </div>
        </div>
        <div class="hero-container-pictures">
            <picture>
                <source
                  srcset="
                  ./images/grap-desk(1x).png 1x,
                  ./images/grap-desk(2x).png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                  ./images/grap-tabl(1x).png 1x,
                  ./images/grap-tabl(2x).png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/grap-tel(1x).png 1x,
                  ./images/grap-tel(2x).png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="hero-pictures"
                  src="./images/grap-desk(1x).png"
                  alt="cocktail"
                  width="501"
                />
            </picture>
            <p class="hero-title-description-mobile">Search your favorite cocktail by ABC</p>
            <div class="search-alphabet">
                <div class="search-alphabet-input">
                    <span class="input-letter">A</span>
                    <svg width="24" height="24" class="input-icon">
                        <use href="./images/icons.svg#icon-chevron-down"></use>
                    </svg>
                <!-- <select id="letter" name="letter" class="alphabet-input">
                    <optgroup label="alphabet" class="alphabet-input-letter">
                      <option value="a" selected>A</option>
                      <option value="b">B</option>
                      <option value="c">C</option>
                      <option value="d">D</option>
                      <option value="e">E</option>
                      <option value="f">F</option>
                      <option value="g">G</option>
                      <option value="h">H</option>
                      <option value="i">I</option>
                      <option value="j">J</option>
                      <option value="k">K</option>
                      <option value="l">L</option>
                      <option value="m">M</option>
                      <option value="n">N</option>
                      <option value="o">O</option>
                      <option value="p">P</option>
                      <option value="q">Q</option>
                      <option value="r">R</option>
                      <option value="s">S</option>
                      <option value="t">T</option>
                      <option value="u">U</option>
                      <option value="v">V</option>
                      <option value="w">W</option>
                      <option value="x">X</option>
                      <option value="y">Y</option>
                      <option value="z">Z</option>
                    </optgroup>
                    <optgroup label="numer">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="0">0</option>
                    </optgroup>
                </select> -->
                </div>
            </div>
        </div>
    </div>
</section>