<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-container-title">
            <h1 class="hero-title">A party without cocktails is not like a party</h1>
            <p class="hero-title-description">Search your favorite cocktail by ABC</p>
            <div class="hero-alphabet-search">
                <ul class="alphabet-list">
                    <li class="alphabet-item"><a href="#">A</a></li>
                    <li class="alphabet-item"><a href="#">B</a></li>
                    <li class="alphabet-item"><a href="#">C</a></li>
                    <li class="alphabet-item"><a href="#">D</a></li>
                    <li class="alphabet-item"><a href="#">E</a></li>
                    <li class="alphabet-item"><a href="#">F</a></li>
                    <li class="alphabet-item"><a href="#">G</a></li>
                    <li class="alphabet-item"><a href="#">H</a></li>
                    <li class="alphabet-item"><a href="#">I</a></li>
                    <li class="alphabet-item"><a href="#">G</a></li>
                    <li class="alphabet-item"><a href="#">K</a></li>
                    <li class="alphabet-item"><a href="#">L</a></li>
                    <li class="alphabet-item"><a href="#">M</a></li>
                    <li class="alphabet-item"><a href="#">N</a></li>
                    <li class="alphabet-item"><a href="#">O</a></li>
                    <li class="alphabet-item"><a href="#">P</a></li>
                    <li class="alphabet-item"><a href="#">Q</a></li>
                    <li class="alphabet-item"><a href="#">R</a></li>
                    <li class="alphabet-item"><a href="#">S</a></li>
                    <li class="alphabet-item"><a href="#">T</a></li>
                    <li class="alphabet-item"><a href="#">U</a></li>
                    <li class="alphabet-item"><a href="#">V</a></li>
                    <li class="alphabet-item"><a href="#">W</a></li>
                    <li class="alphabet-item"><a href="#">X</a></li>
                    <li class="alphabet-item"><a href="#">Y</a></li>
                    <li class="alphabet-item"><a href="#">Z</a></li>
                    <li class="alphabet-item"><a href="#">1</a></li>
                    <li class="alphabet-item"><a href="#">2</a></li>
                    <li class="alphabet-item"><a href="#">3</a></li>
                    <li class="alphabet-item"><a href="#">4</a></li>
                    <li class="alphabet-item"><a href="#">5</a></li>
                    <li class="alphabet-item"><a href="#">6</a></li>
                    <li class="alphabet-item"><a href="#">7</a></li>
                    <li class="alphabet-item"><a href="#">8</a></li>
                    <li class="alphabet-item"><a href="#">9</a></li>
                    <li class="alphabet-item"><a href="#">0</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>