<div class="menu-container js-menu-container" id="mobile-menu">
        <button
          aria-expanded="false"
          class="menu-toggle js-close-menu"
          type="button"
        >
          <svg width="40" height="40">
            <use
              class="header__cross"
              href="./images/svg-file.svg#icon-close2"
            ></use>
          </svg>
        </button>
        <nav>
          <ul class="mobile-menu">
            <li class="mobile-menu-item">
              <a href="./index.html" class="link current">Студія</a>
            </li>
            <li class="mobile-menu-item">
              <a href="./portfolio.html" class="link">Портфоліо</a>
            </li>
            <li class="mobile-menu-item">
              <a href="/" class="link">Контакти</a>
            </li>
          </ul>
        </nav>
        <div>
          <ul class="mobile-menu-cont">
            <li class="mob__item-tel">
              <a href="tel:+380961111111" target="_blank" class="tel">
                +38 096 111 11 11</a
              >
            </li>
            <li class="mob__item-email">
              <a href="mailto:info@devstudio.com" target="_blank" class="email">
                info@devstudio.com</a
              >
            </li>
          </ul>
          <ul class="mobile-menu-soc">
            <li class="soc"><a class="soc-link" href="">Instagram</a></li>
            <li class="soc"><a class="soc-link" href="">Twitter</a></li>
            <li class="soc"><a class="soc-link" href="">Facebook</a></li>
            <li class="soc"><a class="soc-link" href="">LinkedIn</a></li>
          </ul>
        </div>
      </div>