footer {
  height: 110px;
  background-color: $accent-color;
  text-align: center;

  @include tablet_max {
    margin-top: 20px;
  }
  @include tablet {
    margin-top: 60px;
  }
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.02em;

  padding-top: 30px;
  color: $white-color;
}

.team__name {
  color: $title-light-color;
}

.btn-up {
  @include tablet_max {
    display: none;
  }
  @include tablet {
    right: 1px;
    bottom: 120px;
    width: 33px;
    height: 33px;
  }
  @include desktop {
    right: 20px;
    bottom: 120px;
    width: 44px;
    height: 44px;
  }

  transform: translateY(-10px);
  position: fixed;
  border-radius: 22px;
  cursor: pointer;
  animation: myanimation 2s infinite linear;
  opacity: 1;
  transition: opacity $transition, transform $transition;
}

.btn-up::before {
  content: '';
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 12px;
  
}

.btn-up_hide {
  transform: translateY(200px);
  opacity: 0;
}

@keyframes myanimation {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
