footer {
  height: 110px;
  background-color: $accent-color;
  text-align: center;

  @include tablet_max {
    margin-top: 20px;
  }
  @include tablet {
    margin-top: 60px;
  }
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.02em;

  padding-top: 30px;
  color: $white-color;
}

.team__name {
  color: $title-light-color;
}
