.hero-section{
    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    @media screen and (min-width: 768px){
        padding-top: 50px;
        padding-bottom: 110px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 50px;
        padding-bottom: 105px;
    }
}


.hero-container {
    
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
    }
}

.hero-title {
    font-weight: 600;
    color: $accent-color;
    @media screen and (max-width: 767px) {
        margin-bottom: 38px;
        max-width: 300px;
        font-size: 22px;
        line-height: 1.9;
    }
    @media screen and (min-width: 768px){
        font-size: 26px;
        line-height: 1.6;
    }
    @media screen and (min-width: 1280px) {
        width: 688px;
        font-size: 52px;
        line-height: 1.5;
    }
}

.hero-title-description {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $title-light-color;
    opacity: 0.8;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px){
        margin-top: 40px;
        font-size: 14px;
        line-height: 2;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 40px;
        font-size: 18px;
        line-height: 1.5;
    }
}

.hero-title-description-mobile {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $title-light-color;
    opacity: 0.8;
    @media screen and (max-width: 767px) {
        margin-top: 50px;
        text-align: center;
        font-size: 14px;
        line-height: 2;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hero-alphabet-search {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.alphabet-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 324px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 520px;
    }
}

.alphabet-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform $transition, text-shadow $transition, -webkit-text-fill-color $transition, -webkit-text-stroke $transition;
    font-weight: 700;
    color: $medium-grey-color;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 24px;
        height: 25px;
        font-size: 14px;
        line-height: 1.5;
    }
    @media screen and (min-width: 1280px) {
        width: 40px;
        height: 40px; 
        font-size: 24px;
        line-height: 1.5;
    }
}

.alphabet-list-item:hover,
.alphabet-list-item:focus {
    -webkit-text-fill-color: $accent-color;
    -webkit-text-stroke: 0.7px $medium-grey-color;
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
    transform: scale(1.05);
}

.search-alphabet-input {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 5px;
        color: $accent-color;
        border: 1px solid $accent-color;
        background-color: transparent;
        outline: none;
        border-radius: 4px;
        width: 93px;
        height: 34px;
        cursor: pointer;
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}

.input-icon {
    fill: $accent-color;
}
.input-letter {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
}
.hero-title-description{
    color:var(--change-title);
    transition: color $transition;
}

.hero-modal-search {
    @media screen and (max-width: 767px) {
        display: none;
        position: relative;
        width: 93px;
        margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mob-alphabet-list {
    position: absolute;
    padding: 6.5px 10px;
    height: 84px;
    width: 100%;
    border: 1px solid $accent-color;
    border-radius: 4px;
    right: 0;
    top: 0;
    overflow-y: auto;
    scroll-snap-type: x proximity;
}
.mob-alphabet-list-item {
    scroll-snap-align: start;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
    color: $medium-grey-color;
}

.mob-alphabet-list-item:not(:last-child) {
    margin-bottom: 13px;
}
.hero-modal-search ::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}
.hero-modal-search ::-webkit-scrollbar-thumb {
    height: 34px;
    border-radius: 4px;
    border: 3px solid $medium-grey-color;
}