.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}
.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet_max {
    gap: 8px;
  }
  gap: 14px;
}
.arrow {
  width: 60px;
  height: 40px;
  font-size: 24px;

  background: transparent;
  border: 1px solid #eaebea;
  border-radius: 4px;
  color: $btn-bg-color;
}
.numbers {
  width: 40px;
  height: 40px;

  background: transparent;
  border: 1px solid #eaebea;
  border-radius: 4px;
  color: $btn-bg-color;
}
.active {
  background: $btn-bg-color;
  color: $pagination-btn-bg-color;
}
